<!DOCTYPE html>
<html>
<head>
	<title>home page</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
</head>
<body>
<h1>home page !!</h1>
<!--<pre>{{g_summmay}}</pre>-->
<br>
<div class="container-fluid">
<div class="row">
	<div class="card-columns">
	<div class="card col m-2">
		
		<div class="card-body">
			<h4 class="card-title">New Confirmed</h4>
			 <p class="card-text">{{g_summmay.NewConfirmed}}</p>
		</div>
	</div>
	<div class="card col m-2">
		<div class="card-body">
			<h4 class="card-title">Total Confirmed</h4>
			 <p class="card-text">{{g_summmay.TotalConfirmed}}</p>
		</div>
	</div>
	<div class="card col m-2">
		<div class="card-body">
			<h4 class="card-title">New Deaths</h4>
			 <p class="card-text">{{g_summmay.NewDeaths}}</p>
		</div>
	</div>
	<div class="card col m-2">
		<div class="card-body">
			<h4 class="card-title">Total Deaths</h4>
			 <p class="card-text">{{g_summmay.TotalDeaths}}</p>
		</div>
	</div>
	<div class="card col m-2">
		<div class="card-body">
			<h4 class="card-title">New Recovered</h4>
			 <p class="card-text">{{g_summmay.NewRecovered}}</p>
		</div>
	</div>
	<div class="card col m-2">
		<div class="card-body">
			<h4 class="card-title">Total Recovered</h4>
			 <p class="card-text">{{g_summmay.TotalRecovered}}</p>
		</div>
		</div>



	</div>
	</div>
</div>
</div>

</body>
</html>